/*（插入数据区）和（查询数据区）数据表格中的小方格样式*/
.queryDataArea>.dataTab tr:not(:last-child) td,
.insertDataArea>.dataTab tr:not(:last-child) td,
.updateDataArea>.dataTab tr:not(:last-child) td {
	border: 1px solid black;
	max-width: 300px;
	height: 27px;
	word-break: keep-all;
	text-align: center;
}



/*(插入数据区域)<input>标签样式*/
.insertDataArea>.dataTab tr:not(:last-child) td>input[name='type'],
.updateDataArea>.dataTab tr:not(:last-child) td>input[name='type'] {
	width: 100px;
}
.insertDataArea>.dataTab tr:not(:last-child) td>input[name='supervisorId'],
.updateDataArea>.dataTab tr:not(:last-child) td>input[name='supervisorId'] {
	width: 200px;
}
.insertDataArea>.dataTab tr:not(:last-child) td>input[name='teachingSection'],
.updateDataArea>.dataTab tr:not(:last-child) td>input[name='teachingSection'] {
	width: 200px;
}
.insertDataArea>.dataTab tr:not(:last-child) td>input[name='clazzId'],
.updateDataArea>.dataTab tr:not(:last-child) td>input[name='clazzId'] {
	width: 200px;
}

.insertDataArea>.dataTab tr:not(:last-child) td>input[name='numOfClass'],
.insertDataArea>.dataTab tr:not(:last-child) td>input[name='actualNum'],
.insertDataArea>.dataTab tr:not(:last-child) td>input[name='lateNum'],
.insertDataArea>.dataTab tr:not(:last-child) td>input[name='leavingEarlyNum'],
.updateDataArea>.dataTab tr:not(:last-child) td>input[name='numOfClass'],
.updateDataArea>.dataTab tr:not(:last-child) td>input[name='actualNum'],
.updateDataArea>.dataTab tr:not(:last-child) td>input[name='lateNum'],
.updateDataArea>.dataTab tr:not(:last-child) td>input[name='leavingEarlyNum'] {
	width: 50px;
}

.insertDataArea>.dataTab tr:not(:last-child) td>input[name='weekly'],
.insertDataArea>.dataTab tr:not(:last-child) td>input[name='jieci'],
.updateDataArea>.dataTab tr:not(:last-child) td>input[name='weekly'],
.updateDataArea>.dataTab tr:not(:last-child) td>input[name='jieci'] {
	width: 35px;
}

.insertDataArea>.dataTab tr:not(:last-child) td>input[class='evaluationScore'],
.updateDataArea>.dataTab tr:not(:last-child) td>input[class='evaluationScore'] {
	width: 40px;
}

.insertDataArea>.dataTab tr:not(:last-child) td>input[name='totalScore'],
.updateDataArea>.dataTab tr:not(:last-child) td>input[name='totalScore'] {
	width: 40px;
}
.insertDataArea>.dataTab tr:not(:last-child) td>input[name='evaluationLevel'],
.updateDataArea>.dataTab tr:not(:last-child) td>input[name='evaluationLevel'] {
	width: 20px;
}


