

.countDataArea>table{
	margin: auto;
	border-collapse: collapse;
}

.countDataArea>table td {
	border: 1px solid black;
	padding: 0 10px;
	height: 27px;
	word-break: keep-all;
	text-align: center;
}