/*=======================通用区域样式设置========================*/


/* ===添加区域和查询区域通用样式=== */

/*页面通用设置*/
* { margin: 0; padding: 0; }
html,body { height: 100%; }
h1,h2,h3 {
	text-align: center;
	line-height: 50px;
}

/* 保持整个页面的<input type='button'>标签的内边距样式 */
.insertDataArea input[type='button'],
.queryDataArea input[type='button'],
.updateDataArea input[type='button'] {
	padding: 1px 6px;
}

/*（插入数据区）和（查询数据区域）标题下方分隔线*/
.insertDataArea>h2,.queryDataArea>h2,.updateDataArea>h2 {
	border-bottom: 2px solid #b5b982;
}

/*（插入数据区）和（查询数据区）数据表格整体样式*/
.insertDataArea>.dataTab,.queryDataArea>.dataTab,.updateDataArea>.dataTab {
	border-collapse: collapse;
	margin: 10px auto;
	
	/*调整整个表格的字体大小*/
	font-size: small;
}

/*（插入数据区）和（查询数据区）数据表格中的小方格样式*/
.insertDataArea>.dataTab tr:not(:last-child) td,
.queryDataArea>.dataTab td,
.updateDataArea>.dataTab tr:not(:last-child) td {
	border: 1px solid black;
	height: 27px;
	word-break: keep-all;
}

/*(插入数据区域)、（查询数据区域表格） 和（ 查询数据区域高级搜索） 中的<input>标签和<select>标签样式*/
.insertDataArea>.dataTab tr td>input:not([type='button']),
.updateDataArea>.dataTab tr td>input:not([type='button']),
.insertDataArea>.dataTab tr td>select,
.updateDataArea>.dataTab tr td>select,
.queryDataArea .advancedSearch li>input:not([type='button']),
.queryDataArea .advancedSearch li>select {
	height: 20px;
}

/*(插入数据区域) 和（ 查询数据区域更新区域） 中的错误消息标签样式*/
.insertDataArea>.errorMessage,
.updateDataArea>.errorMessage{
	text-align: center;
	color: red;
	font-weight: bold;
}



/*======================单独样式区==========================*/


/* ==={添加数据区域}和{更新数据区域}通用样式=== */

/* （添加数据区域）和（更新数据区域）错误提示小方格样式 */
.insertDataArea>.dataTab tr:not(:last-child) td.errors,
.updateDataArea>.dataTab tr:not(:last-child) td.errors {
	display: none;
	color: red;
	border: 0;
}



/*（添加数据区域）和（更新数据区域）底部<input type='button'>样式*/
.insertDataArea>.dataTab tr:last-child td,
.updateDataArea>.dataTab tr:last-child td {
	text-align: center;
}

/*（添加数据区域）和（更新数据区域）中{数据表格}的最后一行<input type='button'>样式*/
.insertDataArea>.dataTab tr:last-child td input:nth-child(2),
.updateDataArea>.dataTab tr:last-child td input:nth-child(2) {
	margin: 0 0 0 20px;
}


/* ===添加数据区域样式=== */



/* ===查询数据区域样式=== */

/*（查询数据区域）中的高级搜索区标题样式*/
.queryDataArea>div>h3 {
	line-height: 30px;
}

/*（查询数据区域）中高级搜索区整体框架样式*/
.queryDataArea .advancedSearch {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
	padding-bottom: 10px;
	border-bottom: 2px solid #b5b982;
}

/*（查询数据区域）中{高级搜索区}的列表样式*/
.queryDataArea .advancedSearch>li {
	list-style: none;
}

/*（查询数据区域）中数据表格样式 */
.queryDataArea>.dataTab td {
	text-align: center;
	padding: 0 8px;
}

/*（查询数据区域）中{数据表格的编辑图片和删除图片}小方格样式*/
.queryDataArea>.dataTab tr:not(:last-child) td:last-child {
	min-width: 40px;
}
/*（查询数据区域）中数据表格的{编辑图片}和{删除图片}样式 */
.queryDataArea>.dataTab td>img:nth-child(2) {
	margin-left: 5px;
}


/* ===更新数据区域样式=== */

/*（更新数据区域）默认隐藏*/
.updateDataArea {
	display: none;
}



/*======特殊<input>样式==========*/
/*选课<input>样式*/
.insertDataArea>.dataTab input[name='courseSelectionId'],
.queryDataArea .advancedSearch input[name='courseSelectionId'],
.updateDataArea>.dataTab input[name='courseSelectionId'] {
	width: 250px;
}

/*督察区域<input>样式*/
.insertDataArea>.dataTab input[name='tourInspectionArea'],
.queryDataArea .dataTab input[name='tourInspectionArea'],
.updateDataArea>.dataTab input[name='tourInspectionArea'] {
	width: 300px;
}

.insertDataArea>.dataTab td.essential:before,
.updateDataArea>.dataTab td.essential:before{
    content: '*';
    color: red;
    font-size: 18px;
}