* { margin: 0; padding: 0; border: 0; }
html,body { height:100%; }

/* ---------------顶部栏------------ */
.topArea {
	width: 100%;
	height: 51px;
	background: url("../images/logo.png") no-repeat;
	background-position: center;
	background-color: #b5971e;
	position: relative;
}

.topArea>.say_hello_text {
	position: absolute;
	right: 20px;
	bottom: 10px;
}


/*-------------中部区域---------*/
.middleArea {
	height: calc(100% - 51px);
	display: flex;
}


/* +++导航栏部分（左部）+++ */

/*默认隐藏所有二级菜单和菜单项*/
.middleArea>.navigBar>.twoMenuItems,
.middleArea>.navigBar>.items {
	display: none;
}

/* 导航栏基本设置 */
.middleArea>.navigBar {
	width: 290px;
	
	overflow: auto;

	display: flex;	
	flex-direction: column;
	
	border: 1px solid gray;
	background-color: #22b3a8;
	
	font-family: cursive;
	font-size: 16px;
	font-weight: bold;
	
}

/*菜单项列表*/
.middleArea>.navigBar>li {
	line-height: 30px;
	list-style: none;
}
.middleArea>.navigBar>li:hover {
	cursor: pointer;
	color: #ce0000;
	text-decoration: underline;
}


/* 设置菜单项 */
.middleArea>.navigBar>.oneMenuItems {
	margin-left: 10px;
}
.middleArea>.navigBar>.twoMenuItems {
	margin-left: 20px;
}
.middleArea>.navigBar>.items {
	margin-left: 40px;
}

/* 菜单项图片设置 */
.middleArea>.navigBar img {
	width:10px;
	height:10px; 
	border-radius:50%;
	list-style: none;
}
.middleArea>.navigBar>.items:before {
	border: 1px solid #aab645;
	border-radius: 50%;
	border-left-width: thin;
    border-right-width: thin;
	content: "";
}

/*iframe框架页面*/
.middleArea>.infoManFrame {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid gray;
	background-color: #a5a5a58a;
}